.user-dialogue-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  padding: 0.5em;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
}

.user-dialogue-header {
  display: flex;
  justify-content: space-around;
  height: 10%;
  border-bottom: 1px solid #c0c0c0;

  & .active {
    color: #0cc16c;
  }

  & .inactive {
    color: rgba(222, 226, 230, 0.5);
  }
}

.user-dialogue-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  height: 100%;
  overflow-y: scroll;
  padding: 0.5em;

  &.dialog-started {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.user-dialogue-form {
  display: flex;
  gap: 1em;
  padding: 0.5em;
  height: 12%;
  border-top: 1px solid #c0c0c0;

  & input {
    width: 100%;
  }
}
