.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  &.hidden {
    display: none;
  }
}

.modal-window {
  width: 35svw;
  min-height: 20svh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  background-color: #242424;
}
