.about-wrapper {
  margin: 0 auto;
  max-width: 580px;
  padding: 1em 2em;
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  text-align: center;

  & h1 {
    font-size: 2.2em;
    line-height: 1.1;
  }
}

.about-footer {
  display: flex;
  justify-content: space-between;
}
