.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #c0c0c0;
  border-radius: 8px;

  & .logo {
    width: 70px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
